.footer {
  margin-top: auto;
  width: 100%;
  min-height: 460px;
  height: auto;
  //background-color: $brown-gray;
  background-color: $dark-blue;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  //justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;

  &__top-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  &__info-company {

  }

  &__label {
  }

  &__info {
    width: 330px;
    margin-top: 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;
  }


  &__links-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: white;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    //color: white;

    & > span {
      margin-top: 30px;
      color: white;
    }
  }

  &__email {
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      text-decoration: none;
      color: white;
    }
  }

  &__social-block {
    margin-top: 16px;
    display: flex;
    flex-direction: row;

    :not(:last-child) {
      margin-right: 15px;
    }
  }

  &__social-net {
  }

  &__block-phone {
    margin-top: 65px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    :not(:last-child) {
      margin-right: 50px;
    }
  }

  &__phone {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
  }

  &__phone-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: white;
    width: auto;
  }
}

.footer-maker {
  width: 100%;
  height: 78px;
  background-color: $gray-blue;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__creator {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration-line: none;
      font-size: 14px;
      color: $dark-gray;

      &:hover {
        color: $gray;
      }
    }

    svg {
      margin-left: 20px;
    }
  }
}
