footer.footer
  .container
    .footer-menu
      .footer-menu__top-block
        .footer-menu__info-company
          .footer-menu__label
            include ../../images/svg/footer/label.svg
            .footer-menu__info Бетонный завод «Вега» — производитель высококачественной бетонной смеси. Мы доставляем бетон различных марок по всей территории Перми и Пермского края.
              |Поставка бетона осуществляется собственным автопарком предприятия.
        .footer-menu__links-group
          a.footer-menu__link(href="#") Компания
          a.footer-menu__link(href="#") Видеоблог
          a.footer-menu__link(href="#") Выполненные проекты
          a.footer-menu__link(href="#") Бетон
          a.footer-menu__link(href="#") Аренда бетононасосов
          a.footer-menu__link(href="#") Лаборатория
          a.footer-menu__link(href="#") Отзывы
          a.footer-menu__link(href="#") Контакты
        .footer-menu__contacts
          a.footer-menu__email(href="mailto:info@v-1336.ru")
            include ../../images/svg/footer/email.svg
            span &nbsp; info@v-1336.ru
          span Подписаться:
          .footer-menu__social-block
            a.footer-menu__social-net(href="#")
              include ../../images/svg/footer/vk.svg
            a.footer-menu__social-net(href="#")
              include ../../images/svg/footer/utube.svg
            a.footer-menu__social-net(href="#")
              include ../../images/svg/footer/inst.svg
      .footer-menu__block-phone
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          .footer-menu__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          .footer-menu__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          .footer-menu__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          .footer-menu__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
  .footer-maker
    .container
      .footer-maker__creator
        a(href='#') Создание сайта
          include ../../images/svg/footer/amado.svg
