footer.footer
  .container
    .footer-menu
      .footer-menu__info-company
        .footer-menu__label
         .footer-menu__info
      .footer-menu__links-group
        a.footer-menu__link(href="#") Каталог
        a.footer-menu__link(href="#") Каталог
        a.footer-menu__link(href="#") Каталог
        a.footer-menu__link(href="#") Каталог
        a.footer-menu__link(href="#") Каталог
        a.footer-menu__link(href="#") Каталог
        a.footer-menu__link(href="#") Каталог
        a.footer-menu__link(href="#") Каталог
      .footer-menu__contacts
        a.footer-menu__email(href="mailto:info@v-1336.ru")
          include ../../images/svg/footer/mail.svg
          | &nbsp; info@v-1336.ru
        span Подписаться
        .footer-menu__social-block
          a.footer-menu__social-net(href="#")
            include ../../images/svg/footer/phone.svg
          a.footer-menu__social-net(href="#")
            include ../../images/svg/footer/phone.svg
          a.footer-menu__social-net(href="#")
            include ../../images/svg/footer/phone.svg
      .footer-menu__block-phone
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          | &nbsp; +8 (800)-222-38-27
          br
          span г.Пермь, ул. Ш. Космонавтов
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          | &nbsp; +8 (800)-222-38-27
          br
          span г.Пермь, ул. Ш. Космонавтов
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          | &nbsp; +8 (800)-222-38-27
          br
          span г.Пермь, ул. Ш. Космонавтов
        a.footer-menu__phone(href="tel:+88002223827")
          include ../../images/svg/footer/phone.svg
          | &nbsp; +8 (800)-222-38-27
          br
          span г.Пермь, ул. Ш. Космонавтов
    .footer-maker
      h6 Создание сайта
      include ../../images/svg/footer/amado.svg
