header.header
  .container
    .header__connect.connect
      .connect__block-phone
        a.connect__phone(href="tel:+88002223827")
          include ../../images/svg/header/phone.svg
          .connect__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
        a.connect__phone(href="tel:+88002223827")
          include ../../images/svg/header/phone.svg
          .connect__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
        a.connect__phone(href="tel:+88002223827")
          include ../../images/svg/header/phone.svg
          .connect__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
        a.connect__phone(href="tel:+88002223827")
          include ../../images/svg/header/phone.svg
          .connect__phone-text
            span +8 (800)-222-38-27
            span г.Пермь, ул. Ш. Космонавтов
      .connect__bottom-line
        .connect__label
          include ../../images/svg/header/label.svg
        .connect__social-block
          .connect__social-net-block
            a.connect__social-net(href="#")
              include ../../images/svg/header/vk.svg
            a.connect__social-net(href="#")
              include ../../images/svg/header/utube.svg
            a.connect__social-net(href="#")
              include ../../images/svg/header/inst.svg
          button.button.button--blue-white Заказать звонок
          button.button.button--color Прайс-лист

    button.button.button--color.header__button-mobile Прайс-лист
  section.top-nav.header__burger-menu
    button.burger-menu__button.menu-button
    ul.burger-menu
      li
        a(href="#") Компания
      li
        a(href="#") Видеоблог
      li
        a(href="#") Выполненные проекты
      li
        a(href="#") Бетон
      li
        a(href="#") Аренда бензонасоса
      li
        a(href="#") Лаборатория
      li
        a(href="#") Отзывы
      li
        a(href="#") Контакты

  .header__menu.header-menu
    .container
      .header-menu__list
        a(href="#") Компания
        a(href="#") Видеоблог
        a(href="#") Выполненные проекты
        a(href="#") Бетон
        a(href="#") Аренда бензонасоса
        a(href="#") Лаборатория
        a(href="#") Отзывы
        a(href="#") Контакты
