//colors
$blue: #0754A6;
$gray: #828282;
$dark-gray: #CDCFD0;
$light-blue: #1980B6;
$dark-brown: #1C2229;

$light-gray: #4A4A4A;
//$extra-gray: #F2F2F2;
//$gray-333: #333333;
//$gray-555: #555555;
//$gray-666: #666666;
//$gray-999: #999999;

//font-family
//$font-family-montserrat: 'Montserrat', 'sans-serif';
$font-family-roboto: 'Roboto', 'sans-serif';

//borders
$blue-border-bold: 4px solid #004877;
$white-border: 2px solid rgba(255,255,255,0.6);
$color-border: 2px solid rgba(255,0,0,0.6);
$blue-border: 2px solid #004877;
$blue-border-thin: 1px solid #004877;
$white-border-thin: 1px solid #FFFFFF;
$gray-border-thin: 1px solid #828282;

//background
$blue: #0754A6;
$dark-blue: #1E242B;
$gray-blue: #263240;
//$aqua: #008CBD;
//$aqua-header: #002341;
//$gradient-card: #003F68;
//$brown: #3D3D3D;
//$brown-gray: #333333;
//$light-blue: #E2F0FF;
$white: #E5E5E5;

//gradient
$white-gradient: linear-gradient(rgba(255, 255, 255, 0), 75%, rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 1));

//z-index
$z-index-1: 1;
$z-index-2: 2;
